.create__customer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.create__form-container {
  text-align: center;
}

.create__form-label {
  display: block;
  margin-bottom: 0.5rem;
  color: #5C2992;
  font-weight: 600;
}

.create__form-input {
  margin-bottom: 1rem;
  border-radius: 4px;
  font-size: 1rem;
}

.create__form-btn {
  background-color: #5C2992;
  color: #fff;
  border-radius: 4px;
}

.create__form-btn:hover {
  background-color: #472071;
}

.create__form-container h2 {
  color: #5C2992
}